In [1]:
import pandas as pd

In [16]:
dataset_url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-01.csv.gz'

In [7]:
path = '/Users/og/Desktop/data-engineering-course/week_3/data/fhv_tripdata_2019-01.csv'

In [11]:
path_2 = '/Users/og/Desktop/data-engineering-course/week_3/data/fhv_tripdata_2020-01.csv'

In [15]:
file = '/Users/og/Desktop/data-engineering-course/week_3/data/fhv_tripdata_2019-01.csv.gz'

In [17]:
dd = pd.read_csv(dataset_url)

In [22]:
dd

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008
...,...,...,...,...,...,...,...
23143217,B03157,2019-01-31 23:21:00,2019-01-31 23:28:52,NaN,265.0,NaN,B03157
23143218,B03157,2019-01-31 23:38:04,2019-01-31 23:45:43,NaN,265.0,NaN,B03157
23143219,B03157,2019-01-31 23:53:58,2019-02-01 00:25:04,NaN,265.0,NaN,B03157
23143220,B03157,2019-01-31 23:54:53,2019-02-01 00:00:14,NaN,265.0,NaN,B03157
23143221,B03164,2019-01-31 23:55:47,2019-02-01 00:24:29,NaN,265.0,NaN,B03164

In [8]:
df = pd.read_csv(path)

In [12]:
df_2 = pd.read_csv(path_2)

In [9]:
df

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008
...,...,...,...,...,...,...,...
23143217,B03157,2019-01-31 23:21:00,2019-01-31 23:28:52,NaN,265.0,NaN,B03157
23143218,B03157,2019-01-31 23:38:04,2019-01-31 23:45:43,NaN,265.0,NaN,B03157
23143219,B03157,2019-01-31 23:53:58,2019-02-01 00:25:04,NaN,265.0,NaN,B03157
23143220,B03157,2019-01-31 23:54:53,2019-02-01 00:00:14,NaN,265.0,NaN,B03157
23143221,B03164,2019-01-31 23:55:47,2019-02-01 00:24:29,NaN,265.0,NaN,B03164

In [13]:
df_2

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B00001,2020-01-01 00:30:00,2020-01-01 01:44:00,264.0,264.0,NaN,B00001
1,B00001,2020-01-01 00:30:00,2020-01-01 00:47:00,264.0,264.0,NaN,B00001
2,B00009,2020-01-01 00:48:00,2020-01-01 01:19:00,264.0,264.0,NaN,B00009
3,B00009,2020-01-01 00:34:00,2020-01-01 00:43:00,264.0,264.0,NaN,B00009
4,B00009,2020-01-01 00:23:00,2020-01-01 00:32:00,264.0,264.0,NaN,B00009
...,...,...,...,...,...,...,...
2028452,B03266,2020-01-31 23:39:08,2020-01-31 23:46:24,223.0,223.0,NaN,B03266
2028453,B03266,2020-01-31 23:51:11,2020-02-01 00:09:02,193.0,56.0,NaN,B03266
2028454,B03266,2020-01-31 23:12:40,2020-01-31 23:19:56,7.0,7.0,NaN,B03266
2028455,B03266,2020-01-31 23:28:37,2020-01-31 23:35:53,7.0,7.0,NaN,B03266
2028456,B03266,2020-01-31 23:19:09,2020-01-31 23:26:25,223.0,223.0,NaN,B03266

In [10]:
df.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [24]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [27]:
df['dropOff_datetime'] = pd.to_datetime(df['dropOff_datetime'])

In [29]:
df.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropOff_datetime          datetime64[ns]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                          float64
Affiliated_base_number            object
dtype: object

In [14]:
df_2.dtypes

dispatching_base_num       object
pickup_datetime            object
dropoff_datetime           object
PULocationID              float64
DOLocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [ ]:
# prefect deployment build etl_to_bq:etl_web_to_gcs --name de-wk-3-hw-1 -a