In [17]:
from pathlib import Path
import pandas as pd
import pyarrow
import os 
import pyarrow.parquet as pq
import pyarrow as pa

In [8]:
dataset_url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-05.csv.gz'

In [7]:
path = '/Users/og/Desktop/data-engineering-course/week_3/data/fhv_tripdata_2019-01.csv'

In [11]:
path_2 = '/Users/og/Desktop/data-engineering-course/week_3/data/fhv_tripdata_2020-01.csv'

In [9]:
file = '/Users/og/Desktop/data-engineering-course/week_3/data/fhv_tripdata_2019-01.csv.gz'

In [10]:
dd = pd.read_csv(dataset_url)

In [11]:
dd

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2019-05-01 00:27:47,2019-05-02 01:07:35,264,264,NaN,B00013
1,B00014,2019-05-01 00:12:37,2019-05-02 00:42:40,264,264,NaN,B00014
2,B00014,2019-05-01 00:28:27,2019-05-01 00:35:16,264,264,NaN,B00014
3,B00014,2019-05-01 00:01:04,2019-05-01 00:04:28,264,264,NaN,B00014
4,B00014,2019-05-01 00:33:37,2019-05-01 00:37:43,264,264,NaN,B00014
...,...,...,...,...,...,...,...
2073040,B03171,2019-05-31 23:13:30,2019-05-31 23:24:53,264,265,NaN,B03171
2073041,B03171,2019-05-31 23:57:51,2019-06-01 00:04:33,264,265,NaN,B03171
2073042,B03177,2019-05-31 23:02:01,2019-05-31 23:21:06,264,265,NaN,B03177
2073043,B03186,2019-05-31 23:37:27,2019-05-31 23:46:23,264,265,NaN,B03186
2073044,B03188,2019-05-31 23:12:40,2019-05-31 23:50:14,264,171,NaN,B03188

In [8]:
df = pd.read_csv(path)

In [12]:
df_2 = pd.read_csv(path_2)

In [ ]:
df

In [ ]:
df_2

In [13]:
dd.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID                int64
DOlocationID                int64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [15]:
dd['PUlocationID'] = dd['PUlocationID'].astype(float)
dd['DOlocationID'] = dd['DOlocationID'].astype(float)

In [16]:
dd.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [18]:
def write_modified_parquet(df, output_file):
    table = pa.Table.from_pandas(df)
    pq.write_table(table, output_file)

In [ ]:
output_file_1 = 'gs://week_two_bucket/data/2019/fhv_tripdata_2019-05.parquet'
write_modified_parquet(dd, output_file_1)

In [24]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [27]:
df['dropOff_datetime'] = pd.to_datetime(df['dropOff_datetime'])

In [29]:
df.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropOff_datetime          datetime64[ns]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                          float64
Affiliated_base_number            object
dtype: object

In [14]:
df_2.dtypes

dispatching_base_num       object
pickup_datetime            object
dropoff_datetime           object
PULocationID              float64
DOLocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [ ]:
# prefect deployment build etl_to_bq:etl_web_to_gcs --name de-wk-3-hw-1 -a